#container {
    text-align: center;
    font-size: 20px;
    background-size: cover;
    height: 300px;
    width: 500px;
    margin: 0px auto;
}

#tool {
    display: inline-block;
    position: relative;
}

#tooltip {
    /visibility: hidden;
    background-color: #282829;
    width: 100px;
    color: white;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    bottom: 150%;
    margin-left: -60px;
    font-family: 'Coiny', sans-serif;
    opacity: 0;
    transition: opacity 0.5s;
}

#tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #282829 transparent transparent transparent;
}

#tool:hover #tooltip {
    opacity: 1;
}